
@import url('./reset.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.search-btn{
  color: #FFFFFF;
  border-radius: 8px;
  background: #4E75FF;
  border: 0px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;

}

.search-btn:hover{
  background: #6C8CFF;
}

.search-input{
  width: 272px;
  height: 40px;
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.gallery{
  display: flex;
  flex-direction: row;
  width: 740px;
}

.gallery-ul{
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  
}

.gallery-item{
  display: flex;
  flex-direction: column;
  width: 360px;
  


}

.photo-img{
  width: 360px;
  height: 200px;
}